@font-face { font-family: 'MYRIADPRO'; src: url('../fonts/MYRIADPRO-REGULAR.OTF'); } 
@font-face { font-family: 'MYRIADPRO'; font-weight: bold; src: url('myriadpro-bold.otf'); }

@font-face { font-family: 'Nellasx'; 
    src: url('../fonts/nellasx-webfont.eot');
    src: url('../fonts/nellasx-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nellasx-webfont.woff2') format('woff2'),
         url('../fonts/nellasx-webfont.woff') format('woff'),
         url('../fonts/nellasx-webfont.ttf') format('truetype'),
         url('../fonts/nellasx-webfont.svg#nella_sue_demoregular') format('svg');
    font-weight: bold;
}



html, h2, h3, p {
 font-family: 'MYRIADPRO', Helvetica, Arial, sans-serif, serif; font-weight: 700;    
}

h1 {
  font-family: 'Nellasx', Helvetica, Arial, sans-serif, serif; font-weight: 500; 
    font-size: 80px;
     color: #393939;
}

h3 {
 font-size: 18px; 
     color: #393939;
}

h2{
 text-align: center;
    margin-top: 30px;
}

p {
 font-size: 17px;
    color: #FF9900;
    
}




/*make the webpage with fixed max width*/
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1150px; /* or 950px */
}


/*navbar elements*/


.navbar{
    background-color: #393939; 
    margin-bottom: 0px;
       border-color: #FF9900;
}


.navbar-default {
      
}
 

.collapse.navbar-collapse.navbar-right{
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}


/* Reference: http://cssmenumaker.com/menu/simple-responsive-menu */
/* This gives the flashy look to the nav bar*/



.collapse.navbar-collapse.navbar-right li a {
  color: #FF5A09;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
.collapse.navbar-collapse.navbar-right li a:hover {
  color: #333333;
}
/*the line that crosses*/
.collapse.navbar-collapse.navbar-right li a:hover:before {
  width: 100%;
}
/*the dots
.collapse.navbar-collapse.navbar-right li a:after {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
.collapse.navbar-collapse.navbar-right li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
} 
*/
/*---*/  


/*footer part*/
#footertext p, h4{
    font-size:15px;
    color: #F3843E;
}

.navbar.navbar-inverse.navbar-bottom {
    background-color: #393939;
    padding-top: 15px;
    height: 100%;
    border-color: #FF9900;
}

.navbar-text{
    margin-top: 0px;   
}

 

/*social icons*/
.navbar-text > a{
    color:#6C6C6C;
    text-decoration:none;    
}

.navbar-text > a:hover{
    color:black;
}
   
.specialicon{
    color:#6C6C6C;
    text-decoration:none; 
    margin: -1;
}

#foot2{
    color:#6C6C6C;
}

#foot2 a{
    color:#6C6C6C;
}

/*the nice long line to break the text*/
#pagebreak{
    width:auto;
    height:20px;
    background-color:#FF9900;
}

#pagebreak2{
    width:auto;
    height:20px; 
    background-image: url(../photos/rooftest.gif) ;
}

/* Homepage 2 Buttons from http://codepen.io/Savantos/pen/mHIpt */ 
/* http://codepen.io/MSACODE/pen/uncli/ */
#wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}
 
section button {
  margin: 0 auto;
  font-size: 2.0rem;
  padding: 1.25rem 2.5rem;
  display: block;
  background-color: #FF5A09;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
    border: 1px solid transparent; 
    border-radius: 25px;
}

section button:hover {
  background-color: #393939;
  color: #FF5A09;
 
}


section span:hover,
section span:active {
  text-decoration: none;
  color: #F3843E;
  border-color: #000000; 
}

section span {
  display: inline-block;
  position: relative;
  padding-right: 0;
  transition: padding-right 0.5s;
}

section span:after {
   
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 10px;
  height: 10px;
    margin-right: 10px;
  background: rgba(0, 0, 0, 0);
  border: 3px solid #FFF;
  border-top: none;
  border-right: none;
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg);
}


#artistbtn section span:after{
 content:url(btnpic.png);
    margin-top:5px;
}

#embassadorbtn section span:after{
 content:url(btnpic22.png);
    
}



section:hover span,
section:active span{
  padding-right: 30px;
}

section:hover span:after,
section:active span:after {
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #FFFFFF;
  right: 0;
  top: 50%;
}
/*button ending*/

.col1{
margin-bottom:20px;
}

/* Effect 15: scale down, reveal */
.cl-effect-15 a {
	color: rgba(255,255,255,255);
	font-weight: 700;
	text-shadow: none;
}

.cl-effect-15 a::before {
	color: #FF5A09;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 a:hover::before,
.cl-effect-15 a:focus::before {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}
/* Effect 15 finish */



/* ///////////////////////////////////////////////////////////////////// 
// 03 - Preloader
/////////////////////////////////////////////////////////////////////*/

#preloader {
    position:fixed;
    left:0;
    top:0;
    z-index:99999999999;
    width:100%;
    height:100%;
    overflow:visible;
    background: #fff url('../img/preloader.gif') no-repeat center center;
}
