

/* THIS IS BASICALLY NOT USED. MAINLY FOR EMB.HTML IT IS USED ARTIST.CSS
&
&
&
&
&
&
-
-
-
-
*/

/* This is a "Home" tab css stylesheet */

.embassador1{
     min-height: 650px;
	width: 100%;
     background: #6E6E6E;   
}
 
h1{
    text-align: center;
    font-size: 40px;
    margin-top:30px;
}


h2::after{    
   content:" ";
	border:solid 1px #CCCCCC;
	display:block;
	width:65px;
	margin:20px auto;
}

h3{
    text-align: center;
}



#main-header{
    min-height: 650px;
   
	width: 100%;
    background-image: url("../photos/front2%20copy2.jpg");
    
    	text-align:center;
	
	background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home{
}


/*Second page*/
.home2{
    padding: 40px;
	width: 100%;
     
    background: #F3843E;

	text-align:center;
	background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


.video {
    position: relative;
    padding-bottom: 58%;
    height: 0;
    overflow: hidden;    
}
 
.video iframe,  
.video object,  
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
}

span.glyphicon.glyphicon-film{
  font-size: 1.5em;
    color:#6C6C6C;
}

.home2 p{
     color:#6C6C6C;
}

/*Page 2 */


/*
.secondpage h1{
    letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 700;
    color: white;
    margin-bottom: 190px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}


.secondpage h2 {
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: -100px;
    margin-top: -30px;
	color: white;
	font-size: 30px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}
*/

.wrapper{
    
}


/*Third page*/


/*Fourth page*/
.fourthpage {
    min-height: 650px;
	width: 100%;
    background: red;

    /*
	text-align:center;
	background-attachment: relative;
	background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    NOT NEEDED NOW */
}





.container-fluid {
    text-align: left;
   
}

/* Home2 page */

h2 {
 
}


/* Home3 page */

.home3 {
    min-height: 500px;
	width: 100%;
     background: #6E6E6E;
     background-image:url(../photos/flowerpower.png);
        
  
	background-position: center center;
    background-repeat: no-repeat;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




#further{
     text-align: center;
    margin-top: 100px;
    margin-bottom:60px;
     color: #393939;
}




/*Home3 ending */

/*Home4 start */

.home4{
  background: #6E6E6E;
    
}

.cl-effect-15{
 margin-top: 50px; 
    margin-bottom: 60px;
      color:#FF5A09;
    text-align: center;
    font-size:60px;
    
}
 

p#quote{
  color:#393939;
}

.home4 p{
 text-align: center;   
}





 @media (max-width:767px){
     .home3
     {background-image: url("../photos/mobileflower2.png");         min-height: 350px;
     }
 #further{
     text-align: center;
    margin-top: 40px;
    margin-bottom:60px;
     color: #393939;
}
     
     div.home2{
    padding: 0;
         padding-top: 30px;
     }
     div.container {
      padding:0px;
          
        
     }
     .video {
      width:100%;
        height:100%;
           padding-bottom: 300px;
         margin-bottom: 30px;
     }
 
 }

 