/* This is a "Home" tab css stylesheet */




#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   opacity: 0.9;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 300px;
  left: 50%; 
  z-index: 100;
}



#main-header{
    min-height: 650px;
   
	width: 100%;
    background-image: url("../photos/front5.jpg");
    
    	text-align:center;
	
	background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}




 

/*Second page*/
.home2{
    padding: 40px;
	width: 100%;
     
    background: #F3843E;

	text-align:center;
	background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


.video {
    position: relative;
    padding-bottom: 58%;
    height: 0;
    overflow: hidden;    
}
 
.video iframe,  
.video object,  
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
}

span.glyphicon.glyphicon-film{
  font-size: 1.5em;
    color:#6C6C6C;
}

#checkit{
     color:#6C6C6C;
    
}



.container-fluid {
    text-align: left;
   
}


/* Home3 page */

.home3 {
    min-height: 500px;
	width: 100%;
     background: #6E6E6E;
     background-image:url(../photos/flowerpower.png);
        
  
	background-position: center center;
    background-repeat: no-repeat;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     
}

#youkudirect1{ 
    text-align: center;
     color: #393939;
}

#youkudirect2{
     text-align: center;
     color: #393939;
}


#further{
     text-align: center;
    margin-top: 100px;
    margin-bottom:60px;
     color: #393939;
}



/*Home4 start */

.home4{
  background: #6E6E6E;
    
}

.cl-effect-15{
 margin-top: 50px; 
    margin-bottom: 60px;
      color:#FF5A09;
    text-align: center;
    font-size:60px;
    
}
 

p#quote{
  color:#393939;
    font-size:15px;
}

.home4 p{
 text-align: center;   
}

 

 @media (max-width:767px){
.home3{
    background-image: url("../photos/mobileflower2%20copy.png");          
    background-size:cover;
    min-height: 550px;
}
  
#artistbtn{
    padding-top:30px;
}   
     
     
#ambassadorbtn{
    margin-top:115px;
}
     
 #further{
     text-align: center;
    margin-top: 40px;
    margin-bottom:60px;
     color: #393939;
}
     
div.home2{
    padding: 0;
    padding-top: 30px;
}

div.container {
       
        
     }
     .video {
      width:100%;
        height:100%;
           padding-bottom: 300px;
         margin-bottom: 30px;
     }
 
 }

 
/*Winner pop-up*/
.bs-example-modal-lg{
    display: none;
}
