/* This is a "Home" tab css stylesheet */

 

#main-header{
    min-height: 650px;
   
	width: 100%;
    background-image: url("../photos/front2%20copy2.jpg");
    
    	text-align:center;
	
	background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home{
}


/*Second page*/
.home2{
    padding: 40px;
	width: 100%;
     
    background: #F3843E;

	text-align:center;
	background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


.video {
    position: relative;
    padding-bottom: 58%;
    height: 0;
    overflow: hidden;    
}
 
.video iframe,  
.video object,  
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
}

span.glyphicon.glyphicon-film{
  font-size: 1.5em;
}

/*Page 2 */


/*
.secondpage h1{
    letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 700;
    color: white;
    margin-bottom: 190px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}


.secondpage h2 {
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: -100px;
    margin-top: -30px;
	color: white;
	font-size: 30px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}
*/

.wrapper{
    
}


/*Third page*/


/*Fourth page*/
.fourthpage {
    min-height: 650px;
	width: 100%;
    background: red;

    /*
	text-align:center;
	background-attachment: relative;
	background-position: center center;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    NOT NEEDED NOW */
}





.container-fluid {
    text-align: left;
   
}

/* Home2 page */

h3 {
 color: #393939;   
}


/* Home3 page */

.home3 {
    min-height: 500px;
	width: 100%;
     background: #6E6E6E;
     background-image:url(../photos/testing.png);
        
  
	background-position: center center;
    background-repeat: no-repeat;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




#further{
     text-align: center;
    margin-top: 100px;
    margin-bottom:60px;
}



/* Button from http://codepen.io/Savantos/pen/mHIpt */ 
/* http://codepen.io/MSACODE/pen/uncli/ */
#wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}
 
section button {
  margin: 0 auto;
  font-size: 2.0rem;
  padding: 1.25rem 2.5rem;
  display: block;
  background-color: #FF5A09;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
    border: 1px solid transparent; 
    border-radius: 25px;
}

section button:hover {
  background-color: #393939;
  color: #FF5A09;
 
}


section span:hover,
section span:active {
  text-decoration: none;
  color: #F3843E;
  border-color: #000000; 
}

section span {
  display: inline-block;
  position: relative;
  padding-right: 0;
  transition: padding-right 0.5s;
}

section span:after {
   
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 10px;
  height: 10px;
    margin-right: 10px;
  background: rgba(0, 0, 0, 0);
  border: 3px solid #FFF;
  border-top: none;
  border-right: none;
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg);
}


#artistbtn section span:after{
 content:url(btnpic.png);
    margin-top:5px;
}

#embassadorbtn section span:after{
 content:url(btnpic22.png);
    
}



section:hover span,
section:active span{
  padding-right: 30px;
}

section:hover span:after,
section:active span:after {
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #FFFFFF;
  right: 0;
  top: 50%;
}
/*button ending*/

.col1{
margin-bottom:20px;
}

/*Home3 ending */

/*Home4 start */

.home4{
  background: #6E6E6E;   
}
 